<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SynergyOne" connectionString="Server=<SERVER>;Database=<DATABASE>;User ID=<USER_ID>;Password=<PASSWORD>" 
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    
    <add key="VersionNumber" value="3.0.0" />
    <add key="DebugUserNetworkLogin" value="" />
    <add key="GetSanctionDateSql" value="select SanctionDate from dbo.uStudentSanctions where Seq = @SanctionSeq" />
    <!-- ==================== BMS Base ==================== -->
    <add key="AddLogMessageProc" value="woodcroft.uspiAddLogMessage"/>
    <add key="CheckBmsAdminUserProc" value="woodcroft.uspsBmsAdminUser" />
    <add key="CreateSanctionProc" value="woodcroft.uspiBmsCreateSanction" />
    <add key="DeleteSanctionProc" value="woodcroft.uspdBmsDeleteSanction" />
    <add key="GetAllClassesProc" value="woodcroft.uspsBmsGetAllClasses" />
    <add key="GetAllStudentsProc" value="woodcroft.uspsBmsGetAllStudents" />
    <add key="GetClassesForStaffProc" value="woodcroft.uspsBmsGetClassesForStaff" />
    <add key="GetConfigValuesProc" value="woodcroft.uspsBmsGetConfigValues" />
    <add key="GetCurrentSanctionsForStaff" value="woodcroft.uspsBmsGetCurrentSanctionsForStaff" />
    <add key="GetElectronicRollProc" value="woodcroft.uspsBmsGetElectronicRoll" />
    <add key="GetEmailRecipientsProc" value="woodcroft.uspsBmsGetEmailRecipients" />
    <add key="GetFutureSanctionDatesProc" value="woodcroft.uspsBmsGetFutureSanctionDates" />
    <add key="GetHeadsOfYearProc" value="woodcroft.uspsGetHeadsOfYear" />
    <add key="GetJuniorSchoolFinalYearProc" value="woodcroft.uspsBmsGetJuniorSchoolFinalYear" />
    <add key="GetNonAttendanceEmailElementsProc" value="woodcroft.uspsBmsGetNonAttendanceEmailElements" />
    <add key="GetPhotoDataForUserProc" value="woodcroft.uspsGetPhotoForUser" />
    <add key="GetSanctionAbsencesProc" value="woodcroft.uspsBmsGetSanctionAbsences" />
    <add key="GetSanctionBookingsForDateProc" value="woodcroft.uspsBmsSanctionBookingsForDate" />
    <add key="GetSanctionDatesForStudentProc" value="woodcroft.uspsBmsGetSanctionDatesForStudent" />
    <add key="GetSanctionTypesForStudent" value="woodcroft.uspsBmsGetSanctionTypesForStudent" />
    <add key="GetSanctionsForStudentProc" value="woodcroft.uspsBmsGetSanctionsForStudent" />
    <add key="GetSanctionsForYearLevelProc" value="woodcroft.uspsBmsGetSanctionsForYearLevel" />
    <add key="GetStaffListProc" value="woodcroft.uspsBmsGetStaffList" />
    <add key="GetUnhandledReportsOfConcernCountProc" value="woodcroft.uspsBmsGetUnhandledReportsOfConcernCount" />
    <add key="GetUserDetailsFromNetworkLoginProc" value="woodcroft.uspsGetUserDetailsFromNetworkLogin" />
    <add key="RecreateAbsentSanctionProc" value="woodcroft.uspiBmsRecreateSanctionAbsence" />
    <add key="SetReportsOfConcernCompleteProc" value="woodcroft.uspuBmsReportsOfConcernMarkComplete" />
    <add key="UpdateHeadOfYearProc" value="woodcroft.uspuUpdateHeadOfYear" />
    <add key="UpdateSanctionAttendanceProc" value="woodcroft.uspuBmsMarkAttendance" />
    <add key="UpdateSanctionProc" value="woodcroft.uspuBmsUpdateSanction" />
    <add key="GetJuniorSchoolFinalYearProc" value="woodcroft.uspsBmsGetJuniorSchoolFinalYear" />
    <!-- ? No idea what these are ? -->
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>